@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --color-negro: #000000;
    --color-texto-blanco: #fff;
    --color-texto-blanco-hover: #cccccc;
    --color-navbar-boxshadow: rgba(0,0,0,0.3);
    --color-fondo-filtros: #000000;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-navbar-boxshadow);
    border-radius: 20px;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    box-shadow: 0 1px 2px var(--color-navbar-boxshadow);
    width: 100%;
    display: flex;
    background-color: var(--color-negro);
    justify-content: space-between;
    height: 70px;
    position: fixed;
}
nav div{
    color: var(--color-texto-blanco);
    display: inline-block;
}
nav .logo{
    margin-top: -35px;
    margin-left: 40px;
    width: 100%;
}



nav .navbar_list ul {
    list-style: none;
    display: flex;
    padding: 1.2em;
}
nav .logo img{
    width: 150px;
}
nav .navbar_list ul li{
    margin: 0 20px;
}
nav .navbar_list ul li:first-letter{
    text-transform: uppercase;
}
nav .navbar_list ul li:hover{
    cursor: pointer;
    color: var(--color-texto-blanco-hover);
}
.alinear{
    display: flex;
}
.filtros{
    top: 70px;
    color: var(--color-texto-blanco);
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: var(--color-fondo-filtros);
}
.filtros ul{
    padding: 10px 0 0 10px;
}
.filtros .listas::first-letter,
.filtros .listas ul::first-letter{
    text-transform: uppercase;
}
.filtros .listas li{
    list-style: none;
    text-decoration: none;
}

.filtros .listas li ul li{
    margin: 10px;
}

.filtros .listas li ul li:hover{
    cursor: pointer;
    color: var(--color-texto-blanco-hover);
}

.filtros .listas li span{
    font-weight: 600;
    outline: none;
}
.filtros .listas li span:hover{
    cursor:default;
}
.tableros{
    margin: 2% 0 0 20%;
    width: 80%;
    padding: 5%;

}
.tableros .tablero iframe{
    width: 100%;
    height: 600px;
}
.tableros .tablero:nth-child(2),
.tableros .tablero:nth-child(3){
    display: none;
}
@media (max-widht: 900){
    .fiiltros{
        overflow: hidden;
        font-size: 0.8em;
    }
}